
<section id="noticias" class="paddi">
    <div class="container">
      <h2>Noticias</h2>
      <div class="row">
        <article class="col">
          <h3>Noticia 1</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi vero quod ea facilis, dicta veritatis consectetur ratione temporibus sunt nostrum doloribus animi molestiae nulla assumenda adipisci ipsam fuga libero architecto.</p>
          <p>Ut commodi voluptates esse provident explicabo molestiae. Deleniti, adipisci. Eligendi voluptas, labore dolorem veniam nisi itaque eveniet voluptates consectetur excepturi. Molestias, alias numquam eius doloremque aspernatur fuga totam placeat nesciunt!</p>
        </article>
        <article class="col">
          <h3>Noticia 2</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium rem quis ut! Ad officia, molestias quos, vero sit atque cupiditate fuga blanditiis veritatis illum, voluptas aperiam distinctio consequatur. Ratione, ea.</p>
          <p>Delectus quia officia dolores suscipit placeat a veniam explicabo, sit eius aliquam magnam rerum sequi quam quasi natus aliquid quidem vero. Expedita cumque perspiciatis, inventore incidunt soluta temporibus magnam quo.</p>
        </article>
        <article class="col">
          <h3>Noticia 3</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta quibusdam modi harum voluptatum maiores consequuntur, libero corporis unde dicta culpa? Deleniti quos vel doloribus mollitia, vero nobis porro dolor aspernatur.</p>
          <p>Sunt culpa quam similique dolorem eum at praesentium beatae totam itaque esse nulla, maiores libero voluptates magni, voluptatum commodi iste nisi debitis fugit quidem expedita. Voluptatibus omnis est incidunt et.</p>
        </article>
      </div>
    </div>
  </section>