<section id="nosotros" class="paddi">
    <div class="container">
      <h2>Nosotros</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus officiis ex iste accusamus amet in. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, voluptas fugit. Reprehenderit quas inventore cumque commodi suscipit itaque praesentium vero. officiis numquam reprehenderit dolorum eaque animi? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit itaque magni praesentium omnis dignissimos vero accusamus recusandae aliquam labore at id excepturi vel et mollitia, consequuntur nesciunt nihil corporis quo soluta qui.</p>
    </div>
  </section>